img.calendar_button {
    padding-left: 2px;
    cursor: pointer;
}

.chooser {
    /* padding helps avoid accidentally dismissing the chooser */
    padding: 16px;
    float: left;
    position: absolute;
}
.chooser .selector {
    float: left;
    margin: 0px;
}
.chooser ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    width: 70px;
}
.chooser li {
    cursor: default;
}
.chooser a {
    display: block;
    text-decoration: underline;
    cursor: pointer;
}

.months, .days {
    position: relative;
}
.days .title {
    text-align: center;
}
.days .weekdays span, .days .wk span, .days .wk a {
    float: left;
    width: 28px;
    height: 28px;
    padding: 0px;
    text-align: center;
}
.days .wk {
    clear: both;
}
.days .wk a {
    height: 28px;
}

/* Colors... (Feel free to change these) */

.chooser {
    color: #C0C0C0;
}
.years.selector {
    background-color: #003366;
}
.years.selector .sel {
    background-color: #000044;
    -moz-border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
}
.months.selector {
    background-color: #000044;
}
.months.selector .sel {
    background-color: #6699CC;
    -moz-border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
}
.days.selector {
    background-color: #6699CC;
    -moz-border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
}
.days.selector .sel {
    background-color: #003366;
}
.days .header {
    color: #000000;
}
.days {
    color: #003366;
}
.days a.sel {
    color: #C0C0C0;
}

